NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_MAP_DEFAULT_LAT=14.6349
NEXT_PUBLIC_MAP_DEFAULT_LNG=-90.5069
NEXT_PUBLIC_MAP_DEFAULT_ZOOM=7
# Opcional si posteriormente utilizas Mapbox:
NEXT_PUBLIC_MAPBOX_TOKEN=
