NODE_ENV=development
PORT=3000
DATABASE_URL="sqlserver://localhost:1433;database=MAGA_DB;user=sa;password=CAMBIA_ESTA_PASSWORD;encrypt=true;trustServerCertificate=true"
JWT_ACCESS_SECRET="CAMBIA_ESTA_CLAVE_POR_UNA_CLAVE_LARGA_Y_ALEATORIA_DE_AL_MENOS_32_CARACTERES"
JWT_REFRESH_SECRET="CAMBIA_ESTA_OTRA_CLAVE_POR_UNA_CLAVE_LARGA_Y_ALEATORIA_DE_AL_MENOS_32_CARACTERES"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:3001"
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=200
